.committeeDash {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;

  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
}

button,
.schedule-btn,
.minutes-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(223, 139, 14);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  transition: background-color 0.3s;
  margin: 5px;
  text-decoration: none;
}

button:hover,
.minutes-button:hover {
  background-color: rgb(237, 160, 45);
}

.primary {
  background-color: rgb(223, 195, 69);
  display: flex;

  justify-content: space-between;
  align-items: start;
  padding: 30px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;

}

.back {
  align-self: flex-start;
  margin: 10px 0 10px 4px;
}

.back button {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #232526;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back button:hover {
  background-color: #555657;
}

.desc .chief {
  padding: 5px;
  font-size: 50px;
  font-weight: 500;
}

#comName {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}

#purp {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.chief {
  font-size: 20px;
  font-weight: 550;
  margin: 20px 0 0 0;
}

#purpose {
  margin: 4px 10px 0 5px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

ol {
  background-color: white;

}

li {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 5px;
  border-bottom: solid black 0.1px;
}

.utility {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.utility button,
#save,
.notify {

  background-color: #1e8313;

}

.utility button:hover,
#save:hover,
.notify:hover,
.committeeDash .upcoming-btn:hover {
  background-color: #219b13;
}

.committeeDash .upcoming-btn {
  text-decoration: none;
  background-color: #1e8313;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;

  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  transition: background-color 0.3s;
  margin: 5px;
}

.utility .leave-btn {
  margin-left: auto;
  margin-right: 12px;
  background-color: rgb(198, 1, 1);
  color: #fff;
}

.utility .leave-btn:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

.members {
  width: 99%;
}

#listHead {
  width: auto;
  border: solid black;
  border-width: 2px 0 2px 0;
  text-align: center;
  margin: 20px 0 10px 0;
  padding: 10px;
  background-color: rgb(209, 207, 207);
}

.schedule-btn {
  background-color: #007bff;
  text-decoration: none;
}

.schedule-btn:hover {
  background-color: #0056b3;

}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

thead th {

  background-color: #f1f1f1;
  color: #333;
  padding: 12px;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:last-child td {
  border-bottom: none;
}

#minu {
  /* Hide the form initially */
  background-color: rgba(255, 255, 255, 0.9);
  /* Light background with some transparency */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  /* Make it fixed */
  top: 50%;
  /* Center it vertically */
  left: 50%;
  /* Center it horizontally */
  transform: translate(-50%, -50%);
  /* Adjust the center */
  z-index: 2000;
  /* Higher z-index to appear on top */
  width: 900px;
  /* Set a width */
  max-width: 90%;
  /* Responsive width */
}

label {
  text-align: center;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}


#detail {
  font-size: 18px;
  padding: 3px;
  width: 900px;
  height: 500px;
  resize: none;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* textarea {
  width: 900px;
  height: 500px;
  
} */

.close-btn {
  background: #f00;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}

#upcoming-meetings-section {
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  height: 80vh;
  z-index: 1000;
}

.recent-meetings-section {
  background-color: white;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  height: 80vh;
  z-index: 1000;
}

.suggest {
  background-color: rgb(12, 12, 204);
}

.suggest:hover {
  background-color: #13699b;
}