.schedule-meeting-container {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 900px; 
}

.schedule-meeting-container input[type="text"],
.schedule-meeting-container input[type="date"],
.schedule-meeting-container input[type="time"],
.schedule-meeting-container textarea {
    font-size: 18px;
    padding: 10px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.schedule-meeting-container textarea {
    height: 100px;
    resize: vertical;
}

.schedule-meeting-container .btnformeeting {
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.2s ease;
}

.schedule-meeting-container .btnformeeting:hover {
    background-color: #0056b3;
}

.schedule-meeting-container .committee-listformeeting {
    display: block;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    background: white;
    width: 100%;
}

.schedule-meeting-container .committeeformeeting {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.schedule-meeting-container .committeeformeeting:hover {
    background-color: #e0e0e0;
    transition: 0.3 ease;
}

.schedule-meeting-container input[type="checkbox"] {
    margin-right: 10px;
}

.schedule-meeting-container #scheduleMeetingForm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.schedule-meeting-container #scheduleMeetingForm label {
    display: block;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .schedule-meeting-container #scheduleMeetingForm input[type="text"],
    .schedule-meeting-container #scheduleMeetingForm input[type="date"],
    .schedule-meeting-container #scheduleMeetingForm input[type="time"],
    .schedule-meeting-container #scheduleMeetingForm textarea,
    .schedule-meeting-container .btnformeeting {
        font-size: 16px;
    }
}
